<template>
    <grid :position="grid" modifiers="padded">
        <section class="admin-file">
            <p>Admin</p>
            <div class="table-responsive">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Campaign</th>
                            <th>Type</th>
                            <th>Goal</th>
                            <th>Start</th>
                            <th>Dev</th>
                            <th>Status</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="content in admins">
                            <td>{{content.campaign}}</td>
                            <td>{{content.type}}</td>
                            <td>{{content.start_goal}}</td>
                            <td>{{content.date_started}}</td>
                            <td>{{content.developer}}</td>
                            <td>{{content.status}}</td>
                            <td>{{content.comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </grid>
</template>

<script>
import Grid from './Grid';
import saveState from 'vue-save-state';

export default {

    components: {
        Grid,
    },

    mixins: [saveState],

    props: ['fileName', 'grid'],

    data() {
        return {
            admins: [],
        };
    },
    created() {
        this.fetchAdminContent();
        this.addAdminHandler();
        this.editAdminHandler();
        this.deleteAdminHandler();
    },
    methods: {
        fetchAdminContent: function() {
            let self = this;
            axios.get('/widgets/admin/getAllContent')
                .then(function(response) {
                    console.log(response.data);
                    self.admins = response.data;
                })
                .catch(function(error) {
                    console.log(error);
                });
        },
        addAdminHandler() {
            //here we are listening from external channel
            Echo.channel('add-admin')
                .listen('Admin.AddAdmin', (e) => {
                    console.log('listened');
                    console.log(e);
                    this.admins.unshift(e[0]);
                    console.log('finished');
                })
        },
        editAdminHandler() {
            Echo.channel('edit-admin')
                .listen('Admin.UpdateAdmin', (e) => {
                    let admin = this.admins.find((admin) => admin.id === e[0].id);
                    if (admin) {
                        let index = this.admins.indexOf(admin);
                        this.admins[index].name = e[0].name;
                        this.admins[index].campaign = e[0].campaign;
                        this.admins[index].type = e[0].type;
                        this.admins[index].date_started = e[0].date_started;
                        this.admins[index].start_goal = e[0].start_goal;
                        this.admins[index].developer = e[0].developer;
                        this.admins[index].status = e[0].status;
                        this.admins[index].comment = e[0].comment;
                    }
                })
        },
        deleteAdminHandler() {
            Echo.channel('delete-admin')
                .listen('Admin.DeleteAdmin', (e) => {
                    console.log(e);
                    for (const i in this.admins) {
                        if (this.admins[i]['id'] == e.id) {
                            this.admins.splice(i, 1);
                            console.log('deleted');
                        }
                    }
                    console.log('id is '+ e.id);
                })
        },
        getSaveStateConfig() {
            return {
                cacheKey: `admin-file-${this.fileName}`,
            };
        },
    },
};
</script>
<style scoped>
    p {
        font-size: 16px;
    }
</style>
