<template>
    <grid :position="grid" modifiers="padded blue">
        <section class="feedback">
            <p>Feedback</p>
            <div class="table-responsive">
                <table class="table table-condensed table-fixed">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th>Category</th>
                            <th>Comment</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="content in feedbacks">
                            <td>{{content.name}}</td>
                            <td>{{content.add_code}}</td>
                            <td>{{content.category}}</td>
                            <td>{{content.comment}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </grid>
</template>

<script>
    import { relativeDate } from '../helpers';
    import Grid from './Grid';
    import saveState from 'vue-save-state';

    export default {

        components: {
            Grid,
        },

        mixins: [saveState],

        props: ['fileName', 'grid'],

        data() {
            return {
                feedbacks:[],
            };
        },
        created() {
            this.fetchFeedbackContent();
            this.addFeedbackHandler();
            this.editFeedbackhandler();
            this.deleteFeedbackHandler();
        },
        methods: {
            fetchFeedbackContent() {
                let self = this;
                axios.get('/widgets/feedback/getAllContent')
                .then(function(response) {
                    console.log(response.data);
                    self.feedbacks = response.data;
                    console.log("fectching data baby");
                })
                .catch(function(error) {
                    console.log(error);
                });
            },
            addFeedbackHandler() {
                //here we are listening from exrternal channel
                Echo.channel('add-feedback')
                .listen('Feedback.AddFeedback', (e) => {
                    console.log('listened');
                    console.log(e)
                    let me = this.feedbacks.unshift(e[0]);
                    console.log('finished!');
                })
            },
            editFeedbackhandler() {
                Echo.channel('edit-feedback')
                .listen('.App.Events.Feedback.UpdateFeedback', (e) => {
                    let feedback = this.feedbacks.find((feedback) => feedback.id === e[0].id);
                    if (feedback) {
                        let index = this.feedbacks.indexOf(feedback);
                        this.feedbacks[index].name = e[0].name;
                        this.feedbacks[index].add_code = e[0].add_code;
                        this.feedbacks[index].category = e[0].category;
                        this.feedbacks[index].comment = e[0].comment;
                    }
                    console.log('listened to edit feedback event');
                    console.log(e);
                    console.log('finished!');
                })
            },
            deleteFeedbackHandler() {
                Echo.channel('delete-feedback')
                .listen('.App.Events.Feedback.DeleteFeedback', (e) => {
                    console.log(e);
                    for (const i in this.feedbacks) {
                        if (this.feedbacks[i]['id'] == e.id) {
                            this.feedbacks.splice(i,1);
                            console.log('deleted');
                        }
                    }
                    console.log('id');
                })
            },
            getSaveStateConfig() {
                return {
                    cacheKey: `feedback-${this.fileName}`,
                };
            },
            reloadFetchContent: function() {
                setTimeout(function() {
                    this.fetchFeedbackContent();
                    this.reloadFetchContent();
                }.bind(this), 1000);
            }
        },
    };
</script>
<style scoped>
  p {
    font-size: 16px;
  }
</style>
