<template>
    <grid :position="grid" modifiers="padded">
        <section class="jeopardy">    
            <iframe src="/jeopardy" id="jeopardy-iframe" width="100%" height="100%" frameborder="0" scrolling="no" class="pandit"></iframe> 
        </section>
    </grid>
</template>

<script>
import echo from '../mixins/echo';
import Grid from './Grid';
import { addClassModifiers } from '../helpers';
import saveState from 'vue-save-state';

export default {

    components: {
        Grid,
    },

    mixins: [echo, saveState],

    props: ['grid'],

    data() {
        return {
            
        };
    },

    computed: {
        
    },

    methods: {
        addClassModifiers,

        getSaveStateConfig() {
            return {
                cacheKey: 'jeopardy',
            };
        },
    },
};
</script>
