.table-responsivee {
    width: 100%;
    margin-bottom: 15px;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    font-size: 16px;
}
.table-responsive {
	font-size: setting($font-size, xxxs);
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent; 
}
