/*******************************
Board positions - Color
********************************/
.red{
    background: #ed1a23;
}
.violet{
    background: #652a90;
}
.yelow{
    background: #fff200;
}
.green{
    background: #006334;
}
.tan{
    background: #cfc5b0;
}
.purple{
    background: #5b5ca9;
}
.brown{
    background: #885a38;
}
.grey{
    background: #a8a9ac;
}
.cyan{
    background: #00abef;
}
.pink{
    background: #ec008c;
}
.orange{
    background: #f0582a;
}
.tangerine{
    background: #fbb140;
}
