/*******************************
Board positions - Advertiser
********************************/
.advertiser-wrap .logo_wrap {
      height: 82px;
      overflow: hidden;
      text-align: center;
}
.advertiser-wrap .logo_wrap img {
    margin: 1px;
    max-height: 100%;
    max-width: 100%;
}
.jeopardy_board .advertiser-wrap .logo_wrap {
	height: 58px;
}
.jeopardy_board .advertiser-wrap .logo_wrap,
.jeopardy_board .advertiser-wrap .name_wrap,
.jeopardy_board .advertiser-wrap .stats_wrap {
    border: 1px solid #fff; background-color: #242e35;
    cursor: pointer;
}
.jeopardy_board .advertiser-wrap h3,
.jeopardy_board .advertiser-wrap a {
    font-size: setting($font-size, s);
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    text-shadow: 1px 2px 1px #242f35;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
    display: block;
    border-bottom: none;
}
.jeopardy_board .advertiser-wrap .name_wrap {
    position: relative;
    min-height: 58px;
    background-color: #1776bb;
}
.jeopardy_board .advertiser-wrap .name_wrap a {
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    top: 44%; 
    left: 40%;
    transform: translate(-50%, -68%);
    line-height: 20px;
    width: 75%;
}

.jeopardy_board .advertiser-wrap .minicolors_wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 1;
}
.jeopardy_board .advertiser-wrap .stats_wrap h3,
.jeopardy_board .advertiser-wrap .stats_wrap a {
    margin: 1px auto;
    text-align: center;
    color: #fff;
    display: block;
    border-bottom: none;
}

.jeopardy_board .advertiser-wrap .stats_wrap h3.popover-title {
    color: #777;
}
