/*******************************
Board positions - Board
********************************/
.jeopardy_board {
    border: 1px solid #fff;
    float: none;
    margin: 0 auto;
    padding: 0;

}
.jeopardy_board .publisher-wrap {
    border: 1px solid #fff;
    background-color: #2e3092;
    height: 58px;
    overflow: hidden;
    text-align: center;
}
.jeopardy_board .publisher-wrap h2 {
    cursor: pointer;
    font-size: setting($font-size, m);
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.jeopardy_board .publisher-wrap img {
    cursor: pointer;
    margin: 1px;
    max-height: 100%;
    max-width: 100%;
}

