/*******************************
Board positions - Toggle
********************************/
#toggle_wrap {
    position: absolute;
    height: 100%;
    width: 40px;
    margin-left: 3px;
    margin-top: -50px;
}
#toggle_wrap #show_meter {
    color: #fff;
    font-size: 50px;
    xopacity: 0.1;
    position: relative;
    top: 4%;
    padding: 7px 0 0 1px;
}

