/*******************************
Board positions - form
********************************/
#form .form-group.form-md-line-input .form-control,
#global .form-group.form-md-line-input .form-control,
#advance-global .form-group.form-md-line-input .form-control {
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 5px !important;
    margin: 3px;
    text-align: center;
    font-size: setting($font-size, s);
    padding: 10px;
}
#form .form-group.form-md-line-input input.form-control,
#global .form-group.form-md-line-input input.form-control,
#advance-global .form-group.form-md-line-input input.form-control {
    height: 30px;
}
#form .pushtop,
#global .pushtop,
#advance-global .pushtop {
    margin-top: -26px !important;
}
#form .align-left,
#global .align-left,
#advance-global .align-left {
    text-align: left !important;
}
#form .align-right,
#global .align-right,
#advance-global .align-right {
  text-align: right !important;
}
#form .form-group.form-md-line-input .input-group .input-group-addon,
#global .form-group.form-md-line-input .input-group .input-group-addon,
#advance-global .form-group.form-md-line-input .input-group .input-group-addon {
    border-bottom: 0 !important;
}
#form .form-group.form-md-line-input .form-control.no-border,
#global .form-group.form-md-line-input .form-control.no-border,
#advance-global .form-group.form-md-line-input .form-control.no-border {
    border-radius: 0px !important;
}
#form .form-group.form-md-line-input .form-control.bg-white,
#global .form-group.form-md-line-input .form-control.bg-white,
#advance-global .form-group.form-md-line-input .form-control.bg-white {
    background-color: #fff !important;
}
#form .form-group.form-md-line-input .form-control.no-margin,
#global .form-group.form-md-line-input .form-control.no-margin,
#advance-global .form-group.form-md-line-input .form-control.no-margin {
    margin: 0 !important;
}
#form .form-group.form-md-line-input .form-control.border-left,
#form .form-group.form-md-line-input .input-group .input-group-addon.border-left {
    border-radius: 5px 0 0 5px !important;
}
#form .form-group.form-md-line-input .form-control.border-right,
#form .form-group.form-md-line-input .input-group .input-group-addon.border-right {
    border-radius: 0 5px 5px 0 !important;
}

#global_form label{
    font-size: setting($font-size,m);
    margin-top: 10px;
}
#global_form .pushtop input {
    font-size: setting($font-size,xs);
}
#global_advance_form .pushtop label {
    font-size: setting($font-size, s);
}
a.purple delete_row {
    margin-top: 0px;
}
#advance-global i{
    font-size: setting($font-size, xs);
}
