.feedback__title {
    color: color($blue, light);

    font-size: setting($font-size, m);
    text-transform: uppercase;
}

.feedback__events {
    color: color($blue, light);

    font-size: setting($font-size, s);
}

.feedback__event {
    padding-bottom: 1.5vh;
}

.feedback__event__title {
    @include font-sans-bold;
}

