html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1a1e25;
}

html * {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

html *:after,
html *:before {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 300;
  margin-bottom: .5em;
  color: #fff;
  opacity: .75;
  font-size: 1.1em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 900;
  color: #fff;
  font-size: 1em;
}

li {
  padding: .35vh 0;
  border-bottom: solid 0.1vw rgba(229, 244, 248, 0.2);
}

.dashboard {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  position: fixed;
  top: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  left: 0.5vw;
  color: #fff;
  font-size: 1.6vw;
}

.emoji {
  width: auto;
  height: .85em;
  margin: 0 .15em;
  vertical-align: middle;
}

.graph {
  display: block;
  width: 100%;
  height: 100%;
}

.grid {
  display: none;
  position: absolute;
  overflow: hidden;
}

.grid--from-a1 {
  display: block;
  top: 0%;
  left: 0%;
  z-index: 998;
}

.grid--to-a1 {
  right: 80%;
  bottom: 66.66666667%;
}

.grid--from-b1 {
  display: block;
  top: 0%;
  left: 20%;
  z-index: 997;
}

.grid--to-b1 {
  right: 60%;
  bottom: 66.66666667%;
}

.grid--from-c1 {
  display: block;
  top: 0%;
  left: 40%;
  z-index: 996;
}

.grid--to-c1 {
  right: 40%;
  bottom: 66.66666667%;
}

.grid--from-d1 {
  display: block;
  top: 0%;
  left: 60%;
  z-index: 995;
}

.grid--to-d1 {
  right: 20%;
  bottom: 66.66666667%;
}

.grid--from-e1 {
  display: block;
  top: 0%;
  left: 80%;
  z-index: 994;
}

.grid--to-e1 {
  right: 0%;
  bottom: 66.66666667%;
}

.grid--from-a2 {
  display: block;
  top: 33.33333333%;
  left: 0%;
  z-index: 997;
}

.grid--to-a2 {
  right: 80%;
  bottom: 33.33333333%;
}

.grid--from-b2 {
  display: block;
  top: 33.33333333%;
  left: 20%;
  z-index: 996;
}

.grid--to-b2 {
  right: 60%;
  bottom: 33.33333333%;
}

.grid--from-c2 {
  display: block;
  top: 33.33333333%;
  left: 40%;
  z-index: 995;
}

.grid--to-c2 {
  right: 40%;
  bottom: 33.33333333%;
}

.grid--from-d2 {
  display: block;
  top: 33.33333333%;
  left: 60%;
  z-index: 994;
}

.grid--to-d2 {
  right: 20%;
  bottom: 33.33333333%;
}

.grid--from-e2 {
  display: block;
  top: 33.33333333%;
  left: 80%;
  z-index: 993;
}

.grid--to-e2 {
  right: 0%;
  bottom: 33.33333333%;
}

.grid--from-a3 {
  display: block;
  top: 66.66666667%;
  left: 0%;
  z-index: 996;
}

.grid--to-a3 {
  right: 80%;
  bottom: 0%;
}

.grid--from-b3 {
  display: block;
  top: 66.66666667%;
  left: 20%;
  z-index: 995;
}

.grid--to-b3 {
  right: 60%;
  bottom: 0%;
}

.grid--from-c3 {
  display: block;
  top: 66.66666667%;
  left: 40%;
  z-index: 994;
}

.grid--to-c3 {
  right: 40%;
  bottom: 0%;
}

.grid--from-d3 {
  display: block;
  top: 66.66666667%;
  left: 60%;
  z-index: 993;
}

.grid--to-d3 {
  right: 20%;
  bottom: 0%;
}

.grid--from-e3 {
  display: block;
  top: 66.66666667%;
  left: 80%;
  z-index: 992;
}

.grid--to-e3 {
  right: 0%;
  bottom: 0%;
}

.grid__tile {
  background-color: #23272f;
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  bottom: 0.5vw;
  left: 0.5vw;
  overflow: auto;
  background-color: #23272f;
  border-radius: .25vw;
}

.grid__tile:after {
  background: -webkit-linear-gradient(top, rgba(35, 39, 47, 0) 0, #23272f 100%);
  background: linear-gradient(to bottom, rgba(35, 39, 47, 0) 0, #23272f 100%);
}

.grid__tile--overflow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  z-index: 100;
}

.grid__tile--padded > :first-child {
  padding: 1vw;
}

.grid__tile--transparent {
  background-color: #1a1e25;
}

.grid__tile--transparent:after {
  background: -webkit-linear-gradient(top, rgba(26, 30, 37, 0) 0, #1a1e25 100%);
  background: linear-gradient(to bottom, rgba(26, 30, 37, 0) 0, #1a1e25 100%);
}

.grid__tile--blue {
  background-color: #202f53;
}

.grid__tile--blue:after {
  background: -webkit-linear-gradient(top, rgba(32, 47, 83, 0) 0, #202f53 100%);
  background: linear-gradient(to bottom, rgba(32, 47, 83, 0) 0, #202f53 100%);
}

.grid__tile--green {
  background-color: #287368;
}

.grid__tile--green:after {
  background: -webkit-linear-gradient(top, rgba(40, 115, 104, 0) 0, #287368 100%);
  background: linear-gradient(to bottom, rgba(40, 115, 104, 0) 0, #287368 100%);
}

.grid__tile--red {
  background-color: #e83134;
}

.grid__tile--red:after {
  background: -webkit-linear-gradient(top, rgba(232, 49, 52, 0) 0, #e83134 100%);
  background: linear-gradient(to bottom, rgba(232, 49, 52, 0) 0, #e83134 100%);
}

.grid__tile--orange {
  background-color: #e14a0c;
}

.grid__tile--orange:after {
  background: -webkit-linear-gradient(top, rgba(225, 74, 12, 0) 0, #e14a0c 100%);
  background: linear-gradient(to bottom, rgba(225, 74, 12, 0) 0, #e14a0c 100%);
}

.grid__tile--yellow {
  background-color: #fbbd1a;
}

.grid__tile--yellow:after {
  background: -webkit-linear-gradient(top, rgba(251, 189, 26, 0) 0, #fbbd1a 100%);
  background: linear-gradient(to bottom, rgba(251, 189, 26, 0) 0, #fbbd1a 100%);
}

.grid__tile > :first-child {
  height: 100%;
}

.internet-connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.internet-connection__alert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75em 1.5em;
  background-color: rgba(232, 49, 52, 0.95);
  border-radius: 1em 1em 0 0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.15);
  font-size: 1.1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.internet-connection__icon {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='16 -16 64 64'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23fff;stroke-miterlimit:10%7D%3C/style%3E%3Cpath class='st0' d='M48 42H17.5l15.4-25.9L48-10l15.1 25.9L78.5 42zm0-32.7v16.3m0 3.2v2.9'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  font-size: 2em;
}

.internet-connection__text {
  padding-left: .5em;
  color: #fcebec;
}

.feedback__title {
  color: #73c7de;
  font-size: 1.1em;
  text-transform: uppercase;
}

.feedback__events {
  color: #73c7de;
  font-size: 0.9em;
}

.feedback__event {
  padding-bottom: 1.5vh;
}

.feedback__event__title {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
}

.admin-file__title {
  color: #73c7de;
  font-size: 1.1em;
  text-transform: uppercase;
}

.admin-file__content {
  font-size: 0.9em;
}

.jeopardy {
  height: 100%;
  z-index: 1;
}

.advertiser_name {
  font-size: 0.55em;
}

.table-responsivee {
  width: 100%;
  margin-bottom: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-size: 16px;
}

.table-responsive {
  font-size: 20px;
  font-size: 0.55em;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */

/* Handle */

::-webkit-scrollbar-thumb {
  background: transparent;
}