/*******************************
Board positions - Advertiser
********************************/
.advertiser-wrap .logo_wrap {
      height: 82px;
      overflow: hidden;
      text-align: center;
}
.advertiser-wrap .logo_wrap img {
    margin: 1px;
    max-height: 100%;
    max-width: 100%;
}
