/*******************************
Board positions - X Editable
********************************/
a.editable-disabled,
a.editable-disabled:hover {
	cursor: pointer !important;
    color: #fff !important;
}
.advertiser-wrap .popover-content {
	padding: 9px 6px;
	width: 300px
}
.advertiser-wrap .editable-input input {
    font-family: "Open Sans",sans-serif;
    font-weight: 500;
    background-color: transparent;
    color: #8cc73f;
    font-size: 22px;
    height: 72px;
    text-align: center;
}

.advertiser-wrap .editable-buttons .editable-submit {
    display: block;
    margin-top: 0px;
}

.advertiser-wrap .editable-buttons .editable-cancel {
    display: block;
    margin: 3px 0 0 1px;
}
.jeopardy_board .advertiser-wrap h3.popover-title {
    color: #1776bb;
    text-align: left;
    text-shadow: 1px 1px 15px #333;
    text-transform: capitalize;
}
