/*******************************
Board positions - Circle
********************************/
.circle {
     border-radius: 50% !important;
     display: inline-block;
     margin-right: 20px;
     margin: 0 auto;
     overflow: hidden;
}
.inner_circle {
     width: 200px;
     height: 200px;
     background: #fff;
     display: table-cell;
     text-align: center;
     vertical-align: middle;
}
