/*******************************
Board positions - Modal
********************************/
body .modal .close {
	background: none !important;
	color: #fff;
    font-size: 22px;
    font-weight: bold;
    height: 24px;
    text-indent: 0px;
    width: 24px;
}
body .modal-card {
    width: 50%;
    color: #000;
}
body .modal-card .modal-title {
    color: #fff;
}
body .modal-monopoly {
    float: left;
    width: 22%;
    min-height: 100%;
    margin: 7% auto 0 5.5%;
}
body .modal-global,
body .modal-card_event {
    float: right;
    width: 22%;
    min-height: 100%;
    margin:7% 5.5% 0 auto;
}
body .modal-card {
    margin:7% 5.5% 0 auto;
}
body .modal-card_event {
    width: 70%;
}
body .modal-card_event #sample_editable_1_new {
    display: none;
    visibility: hidden;
}

body .modal-global, body .modal-card_event, body .modal-card {
    float: left;
    margin: 8.5% auto 0 4%;
}
.modal-card .modal-header,
.modal-global .modal-header,
.modal-monopoly .modal-header,
.modal-card_event .modal-header,
#logo_manager .modal-header,
#adv_settings_wrap .modal-header {
    border-bottom: 3px solid #EFEFEF;;
}
.modal-card .modal-footer,
.modal-global .modal-footer,
.modal-monopoly .modal-footer,
.modal-card_event .modal-footer,
#logo_manager .modal-footer,
#adv_settings_wrap .modal-footer {
    border-top: 3px solid #EFEFEF;;
}
.modal-card .modal-content,
.modal-global .modal-content,
.modal-monopoly .modal-content,
.modal-card_event .modal-content,
#logo_manager .modal-content,
#adv_settings_wrap .modal-content  {
      border: 3px solid #EFEFEF;
      border-radius: 25px !important;
}
.modal-global .portlet,
.modal-monopoly .portlet,
.modal-card .modal-content,
.modal-global .modal-content,
.modal-monopoly .modal-content,
.modal-card_event .modal-content,
#logo_manager .modal-content,
#adv_settings_wrap .modal-content {
    background-color: #364150;
    color: #fff;
}
body .page-container-bg-solid .modal-card .modal-content table th,
body .page-container-bg-solid .modal-card_event .modal-content table td,
body .page-container-bg-solid .modal-card .modal-content table th,
body .page-container-bg-solid .modal-card_event .modal-content table td {
    color: #000 !important;
}
body table.dataTable, table.dataTable th, table.dataTable td {
    color: #000;
}
#logo_manager_wrap .modal-content .modal-body,
.modal-card .modal-content .modal-body,
.modal-card_event .modal-content .modal-body {
    background-color: #fff;
    color: #d9d9d9;
    margin: 12px;
}


