/*******************************
Board positions - Board
********************************/
.jeopardy_board {
    border: 1px solid #fff;
    float: none;
    margin: 0 auto;
    padding: 0;
}
.jeopardy_board .publisher-wrap {
    border: 1px solid #fff;
    background-color: #2e3092;
    height: 80px;
    overflow: hidden;
    text-align: center;
}
.jeopardy_board .publisher-wrap h2 {
    cursor: pointer;
    font-size: 25px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
}
.jeopardy_board .publisher-wrap img {
    cursor: pointer;
    margin: 1px;
    max-height: 100%;
    max-width: 100%;
}
.jeopardy_board .advertiser-wrap .logo_wrap,
.jeopardy_board .advertiser-wrap .name_wrap,
.jeopardy_board .advertiser-wrap .stats_wrap {
    border: 1px solid #fff; background-color: #242e35;
    cursor: pointer;
}
.jeopardy_board .advertiser-wrap h3,
.jeopardy_board .advertiser-wrap a {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-align: center;
    text-shadow: 1px 2px 1px #242f35;
    text-transform: uppercase;
    color: #fff;
    margin: 10px 0;
    display: block;
    border-bottom: none;
}
.jeopardy_board .advertiser-wrap .name_wrap {
    position: relative;
    min-height: 58px;
    background-color: #1776bb;
}
.jeopardy_board .advertiser-wrap .name_wrap a {
    vertical-align: middle;
    position: absolute;
    z-index: 2;
    top: 44%; left: 50%;
    transform: translate(-50%, -68%);
    line-height: 20px;
    width: 75%;
}
.jeopardy_board .advertiser-wrap .name_wrap a.long-str {
    font-size: 18px !important;
}
.jeopardy_board .advertiser-wrap .minicolors_wrap {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    z-index: 1;
}
.jeopardy_board .advertiser-wrap .stats_wrap h3,
.jeopardy_board .advertiser-wrap .stats_wrap a {
    margin: 1px auto;
    text-align: center;
    color: #fff;
    display: block;
    border-bottom: none;
}
