/*******************************
Board positions - Carousel
********************************/
#bottom_backdrop {
    width: 100%;
    height: 49px;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    background: #242f35 url('/images/bg.jpg') repeat scroll 0 0;
}
.vertical .cycle-carousel-wrap {
    width: 100%;
}
.jeopardy_board {
    xmax-height: 815px;
    overflow: hidden;
}
.tile {
    opacity: 0.1 !important;
}
.tile.occupied, .tile.clicked {
    opacity: 1 !important;
}
.item .row {
    margin-top: 44px;
    overflow: hidden;
}
.vertical_navigation {
    text-align: center;
    position: relative;
    z-index: 20;
}
.vertical_navigation .add_adv {
    font-size: 20px;
    position: relative;
}
.prevad span,
.nextad span {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}
/*******************************
Board positions - Carousel
********************************/
.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
}
.carousel-control {
    background: #222222 none repeat scroll 0 0;
    border: 3px solid #ffffff;
    border-radius: 23px;
    color: #ffffff;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 30px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40px;
}
.carousel-control {
    background-color: transparent;
    bottom: 0;
    font-size: 20px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
}
.carousel-caption, .carousel-control {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
