/*******************************
Board positions - Pop over
********************************/
.editable-popup {
    z-index: 99999;
}
.advertiser-wrap .popover-content {
    padding: 9px 6px;
    width: auto;
}
.advertiser-wrap .popover-content .form-group {
    display: inline;
}
.advertiser-wrap .editable-popup {
    width: 100%;
}
.advertiser-wrap .price_wrap .editable-popup {
    width: 200%;
    left: 1.542px !important;
}
.advertiser-wrap .price_wrap .editable-popup .arrow {
    left: 27% !important;
}
.advertiser-wrap .volume_wrap .editable-popup {
    width: 200%;
    left: -134.458px !important;
}
.advertiser-wrap .volume_wrap .editable-popup .arrow {
    left: 74% !important;
}
.advertiser-wrap .editable-input {
    width: 84%;
}
.advertiser-wrap .editable-buttons {
    margin-left: 1.5%;
    width: 14%;
}
.advertiser-wrap .editable-buttons .btn {
    padding: 6px 30%;
}
.advertiser-wrap .editable-input input {
    width: 100% !important;
}
/*.minicolors-position-top .minicolors-panel {
    top: -67px;
}
.name_wrap .minicolors-theme-bootstrap .minicolors-swatch {
    height: 55px;
}*/

.name_wrap .minicolors input[type="hidden"] + .minicolors-swatch {
    width: 0px;
}
