/*******************************
Board positions - Bunos
********************************/
#bonus_wrap {
   border: 3px solid #fff;
   max-height: 328px;
   margin-top: 10px;
   padding: 0;
   position: relative;
   overflow-y: scroll;
}
#bonus_wrap .panel, #bonus_wrap .panel-heading {
    background-color: transparent;
}
#bonus_wrap .panel, #bonus_wrap .panel-group {
    margin-bottom: 0px;
}
#bonus_wrap .panel-heading h4 a {
    color: #fff;
    text-transform: uppercase;
}
#bonus_wrap .panel-body p {
    color: #fff;
    font-size: 18px;
    margin: 0;
    padding: 0;
}
#bonus_wrap .panel-group .panel + .panel {
    margin-top: 0px;
}
