/*******************************
Board positions - Goal
********************************/
#goal_wrap a {
    border: none;
}
#goal_wrap .editable-container {
    position: relative;
    top: -4px;
}
#goal_wrap .editable-container .editable-buttons button {
    padding: 3px 5px;
    margin-top: -5px;
}
#goal_wrap .editable-input input {
    background-color: transparent;
    height: 33px;
    padding: 0 !important;
    width: 120px !important;
}
