/*******************************
Board positions - 	File manager
********************************/
.filemanager {
	widthx: 100%;
	max-width:100%;
	position: relative;
	xmargin: 100px auto 50px;
}

@media all and (max-width: 965px) {
	.filemanager {
		margin: 30px auto 0;
		padding: 1px;
	}
}

/*-------------------------
	Heading
-------------------------*/
.filemanager .panel .panel-heading {
    color: #fff;
    height: 50px;
}

/*-------------------------
	Breadcrumps
-------------------------*/
.filemanager .panel .breadcrumbs {
    background: transparent;
    overflow: hidden;
    padding: 0;
    margin-bottom: 0;
}
.filemanager .panel .breadcrumbs span {
    color: #fff;
    font-size: 16px;
    text-align: left;
    font-weight: normal;
    padding-top: 4px;
  	text-transform: capitalize;
}

/*-------------------------
	Search box
-------------------------*/


.filemanager .search {
	position: absolute;
	padding-right: 30px;
	cursor: pointer;
	right: 0;
	font-size: 17px;
	color: #ffffff;
	display: block;
	width: 40px;
	height: 40px;
}

.filemanager .search:before {
	content: '';
	position: absolute;
	margin-top:7px;
	width: 14px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #ffffff;
	right: 20px;
}

.filemanager .search:after {
	content: '';
	width: 3px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 2px;
	position: absolute;
	top: 17px;
	right: 18px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.filemanager .search input[type=search] {
	border-radius: 2px;
	color: #4D535E;
	background-color: #FFF;
	width: 250px;
	height: 30px;
	margin-left: -257px;
	margin-topx: 5px;
	padding-left: 20px;
	text-decoration-color: #4d535e;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	displayx: none;
	outline: none;
	border: none;
	padding-right: 10px;
	-webkit-appearance: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color:    #4d535e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:    #4d535e;
	opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:    #4d535e;
	opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:    #4d535e;
}


/*-------------------------
	Content area
-------------------------*/

.filemanager .file-box {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 10px !important;
    display: inline-block;
    margin: 2px;
	padding: 0px 20px;
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    min-width: 200px;
    position: relative;
    text-align: center;
    vertical-align: top;
    overflow: hidden;
}
.filemanager .file-box .delete_logo {
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 50% ! important;
    border: 1px solid red ! important;
    background-color: red ! important;
    color: #fff;
    font-size: 17px;
    opacity: 0.6;
    display: none;
}
.filemanager .file-box:hover .delete_logo {
    display: block;
}
.filemanager .file-box .delete_logo:hover {
    opacity: 1;
}
.filemanager .name {
    color: #000;
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
}

.filemanager .details {
    color: #000;
    font-size: 13px;
    display: block;
}

.filemanager .data {
	display: block !important;
	margin-topx: 60px;
	z-indexx: -3;
}

.filemanager .data.animated {
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .data li {
	border-radius: 3px;
	background-color: #373743;
	width: 307px;
	height: 132px;
	list-style-type: none;
	margin: 1px 3px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	padding: 0.3em;
	z-index: 1;
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.3s background-color;
}

.filemanager .data li:hover {
	background-color: #42424E;

}

.filemanager .data li a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.filemanager .data li .name {
	color: #ffffff;
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	width: 150px;
	white-space: nowrap;
	display: inline-block;
	position: absolute;
	overflow: hidden;
	text-overflow: ellipsis;
	top: 40px;
}

.filemanager .data li .files_thumb {
	display:inline-block;
	margin:20px 30px 0px 25px;
	border-radius:8px;
	width:60px;
	height:70px;
	background-position: center center;
	background-size: cover;
	background-repeat:no-repeat;
}

.filemanager .data li .details {
	color: #b6c1c9;
	font-size: 13px;
	font-weight: 400;
	width: 55px;
	height: 10px;
	top: 64px;
	white-space: nowrap;
	position: absolute;
	display: inline-block;
}

.filemanager .nothingfound {
	background-color: #373743;
	width: 23em;
	height: 21em;
	margin: 0 auto;
	display: none;
	font-family: Arial;
	-webkit-animation: showSlowlyElement 700ms; /* Chrome, Safari, Opera */
	animation: showSlowlyElement 700ms; /* Standard syntax */
}

.filemanager .nothingfound .nofiles {
	margin: 30px auto;
	top: 3em;
	border-radius: 50%;
	position:relative;
	background-color: #d72f6e;
	width: 11em;
	height: 11em;
	line-height: 11.4em;
}
.filemanager .nothingfound .nofiles:after {
	content: '×';
	position: absolute;
	color: #ffffff;
	font-size: 14em;
	margin-right: 0.092em;
	right: 0;
}

.filemanager .nothingfound span {
	margin: 0 auto auto 6.8em;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
	height: 13px;
	position: relative;
	top: 2em;
}

@media all and (max-width:965px) {

	.filemanager .data li {
		width: 100%;
		margin: 5px 0;
	}

}

/* Chrome, Safari, Opera */
@-webkit-keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}

/* Standard syntax */
@keyframes showSlowlyElement {
	100%   	{ transform: scale(1); opacity: 1; }
	0% 		{ transform: scale(1.2); opacity: 0; }
}
